body {
    margin: 0;
    padding: 0;
    background-image: url("image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

#languageSelector {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

select {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.languageBox {
    background-color: #00f445;
    color: #fff;
    padding: 20px 40px; 
    font-size: 20px; 
    font-weight: bold;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
    border: 2px solid #00f445; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}

.languageBox:hover {
    background-color: #fff; 
    color: #00f445; 
    border-color: #fff; 
}

.clickedAnimation {
    animation: clickedAnimation 1s ease;
}

@keyframes clickedAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}



#languageHeading {
    color: #fff;
    margin-bottom: 20px; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px 20px; 
    border-radius: 10px; 
}
